In [16]:
import pandas as pd
df = pd.read_csv('C:/Shubham/MyProjects/Task from Vakilsearch/code/extracted_data/invoices_extracted.csv')

df

# duplicated_files = df['file'].duplicated(keep=False)
# df = df[~(duplicated_files & df['invoice_number'].isna())]
# df

,invoice_number,invoice_date,file,total_amount
0,614Date,02-07-2024,02Jul_Invoice_614.pdf,NaN
1,615Date,03-07-2024,03Jul_Invoice_615.pdf,18585.00
2,616Date,03-07-2024,03Jul_Invoice_616.pdf,6195.00
3,617Date,03-07-2024,03Jul_Invoice_617.pdf,468050.00
4,618Date,05-07-2024,05Jul_Invoice_618.pdf,15015.00
...,...,...,...,...
168,OD14424,24-08-2024,OD14424-sales_invoice-Mukesh_Choudhari.pdf,4237.29
169,OD14425,25-08-2024,OD14425-sales_invoice-Joyce_Supriya_Sakani.pdf,10000.00
170,OD14427,26-08-2024,OD14427-sales_invoice-Anurag_Sikka.pdf,4237.29
171,OD14428,28-08-2024,OD14428-sales_invoice-Ravinder_Reddy_Yedulla.pdf,10000.00
172,LP1757/24062,13-07-2024,Tax Invoice (6).pdf,NaN